body {
  text-align: center;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.app {
  background-color: #c0c0c0;
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid white;
}

.addForm {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.addForm > input {
  height: 2rem;
}

h1 {
  margin: 0.2rem;
  margin-bottom: 2rem;
  color: white;
  background-color: #0b0381;
}

th,
td {
  padding: 0.2rem;
}

table {
  margin: 1rem auto;
  border-collapse: collapse;
}

input[type="submit"] {
  cursor: pointer;
  background: #cac6cb;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #464147, inset 1px 1px 0 0 white;
  padding: 0.3rem;
  letter-spacing: 1px;
}

input[type="submit"]:active:hover {
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .app {
    width: 80%;
  }
}
